# Xcode
.DS_Store
*/**/xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata/
DerivedData/
build/
*.xcbuserstate
*.mlmodelc

# Swift Package Manager
.Package.resolved

# CocoaPods
Pods/